

i { }


body {
  background-image : url("../Obrazki/Red_Apple.jpg");
}

p.p_center {
  text-align : center;
}

#p_zachwalanie {
  width : 20%;
  height : 50px;
  overflow : scroll;
}

p.p_right {
  text-align : right;
}
  
h1 {
  font-family : fantasy;
  font-size : 3em;
  text-align : center;
  font-weight : bold;
}

.shadow {
  text-shadow : 5px 5px 2px grey;
}

